<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>

      <ion-card-header class="flex-center">
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <form [formGroup]="formlogin" (ngSubmit)="capturar()">
        <ion-card-content>
          <ion-input type="email" fill="solid" formControlName="email" label="Email" labelPlacement="floating"
            helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>
          <ion-input type="password" fill="solid" formControlName="contraseña" label="password" labelPlacement="floating"
            helperText="Enter a valid password" errorText="Invalid password" ngModel password></ion-input>
        </ion-card-content>
        <div class="butto-login">
          <ion-button shape="round" type="submit" [disabled]="formlogin.invalid">Login</ion-button>

        </div>
      </form>

    </ion-card>
  </div>
</ion-content>